<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Euro 2016</title>
	</head>

	<body>
		<h1>Euro 2016</h1>
		<h5>In the links below you can find the teams that are going to compete and the matches that are going to be played throughout the tournament. The API that I use provides a lot of information, since the tournament didn't started yet all those informations are blank at the moment. During the tournament I am planing on updating the content.</h5>
		<h4>Also the API has all the soccer data for every tournament in the world. So I created my classes so that the tournament class can be called by many tournament ids. I use the <a href="http://fastestlivescores.com/live-scores-api-feed/">api.</a></h4>
		<a href="/teams">Teams</a>
    	<a href="/matches">Matches</a>
	</body>

</html>